
.font{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: none;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: cornflowerblue;
    text-decoration: underline;
}
a:active{
    color: rgb(10, 0, 150);
    text-decoration: line-through;
}
.avatar{
 width: 200px;
 border-radius: 28px;
 box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);

}
.info p{
    color: rgb(0, 0, 0);
}
.education{
    padding: 15px 5px 15px ;
    background: wheat;
    border: 5px whitesmoke;
    border-style: double;
    border-radius: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #5a5d61;
}
.education h2{
    text-align: center;
    color: rgb(0, 0, 0);
}
.education li{
    margin-bottom: 20px;
}
.container{
    max-width: 800px;
    margin: auto;
    margin-bottom: 70px;
    margin-top: 70px;
    background-color: rgb(255, 255, 255);
    border-radius: 28px;
    border-style: double;
    border-color: rgb(255, 255, 255);
}
.languages li{
    margin-bottom: 20px;
    color: #5a5d61;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 .table{ 
width: 100%;
}
.table td{
    padding: 5px;
}
.namings{
    color: black;
}
.intro{
    color: black;
}
.hobbies li{
    margin-bottom: 10px;
}
.contactme h2{
    text-align: center;
}
.contactme input{
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: gray solid 1px;
    background: transparent;
    color: black;
    padding: 15px 0 10px;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button{
    width: 100px;
    height: 40px;
    border: oldlace solid 2px;
    border-radius: 15px;
    background-color: oldlace;
    margin: auto;
}
